// Post content

// Basic styling
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
        $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Set `margin-bottom` to maintain vertical rhythm
h1,
h2,
h3,
h4,
h5,
h6
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
}

//h1 {
//   font-size: 35px;
//}

// `main` element
main {
  display: block; // Default value of `display` of `main` element is 'inline' in IE 11.
}

// Images
img {
  max-width: 100%;
  vertical-align: middle;
}

// Figures
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

// Lists
ul, ol {
  list-style-type: '> ';
  margin-left: $spacing-unit * 4;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  color: $brand-color;
}

// Links
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: darken($brand-color, 15%);
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}

// Block Quote
blockquote {
  border-left: 4px solid $brand-color;
  color: $grey-color;
  font-style: italic;
  letter-spacing: -1px;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  margin-left: $spacing-unit  * 2;
  padding-left: $spacing-unit * 2;
  @include relative-font-size(1.125);

  > :last-child {
    margin-bottom: 0;
  }
}

// Code formatting
pre, code {
  @include relative-font-size(0.9375);
  background-color: lighten($background-color, 10%);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  color: $text-color;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// Table
table {
  border-collapse: collapse;
  color: $text-color;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  width: 100%;
  // Rows
  tr {
    &:nth-child(odd) {
      background-color: lighten($background-color, 15%);
    }
  }
  // Header
  th {
    background-color: lighten($brand-color-alternate, 10%);
  }
  // Data
//td {
//  border: 1px solid $grey-color-light;
//}
  // Header & Data
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  // Highlight on hover
  tr:hover {
    background-color: $brand-color-alternate;
  }
}

// Wrapper
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

// Clearfix
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}