/* Site Header*/
.site-header{
  border-bottom: 1px solid darken($grey-color, 10%);
  border-top: 5px solid darken($grey-color-dark, 15%);
  //min-height: $spacing-unit * 1.865;
  height: $spacing-unit * 5;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  // Site Title
  @include relative-font-size(1.625);
  color: $brand-color;
  float: left;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
}

.site-nav {
  // Site Navigation
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

.menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
    border: 1px solid $grey-color-light;
    border-radius: 2px;
    margin-top: 6px;

    > svg {
      fill: $grey-color;
    }
  }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      background-color: green;
      padding-bottom: 5px;
      width: 100%;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

//  @include media-query($on-palm) {
//    position: absolute;
//    top: 6px;
//    right: $spacing-unit / 2;
//    background-color: $background-color;
//    border-radius: 5px;
//    text-align: right;
//
//    label[for="nav-trigger"] {
//      display: block;
//      float: right;
//      width: 36px;
//      height: 36px;
//      z-index: 2;
//      cursor: pointer;
//    }