---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
    {{ content }}
  {%- if site.posts.size > 0 -%}
    <!-- Removed page title
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
  <ul class="post-list">
    {%- for post in site.posts -%}
      <!-- Featured Image -->
    <li>
      {% if post.image %}
        <img src="{{- post.image | relative_url -}}" alt="" class="blog-roll-image">
      {% else %}
      {% assign postImage = "/assets/images/default.jpg" %}
        <img src="{{- postImage | relative_url -}}" alt="" class="blog-roll-image">
      {% endif %}
    </li>
      <!-- Post Title & Link -->
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
    </li>
      <!-- Date -->
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <!-- <span class="post-meta">
        {{ post.date | date: date_format }}
      </span> -->
        <a class="post-meta" href="{{ post.url | relative_url }}">
        {{ post.date | date: date_format }}
      </a>
    </li>
    <!-- Tag -->
<!--    <span>[
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><code><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
      {% endfor %}
    ]</span> -->
    <!-- End Tag -->
    <!-- Tag -->
    <li>
        {% if post.tags.size > 0 %}
          Tag{% if post.tags.size > 1 %}s{% endif %}:
          <a href=""><code>{{ post.tags | sort | join: " " }}</code></a>
        {% endif %}
    </li> 
      <!-- Post Excerpt -->
    <li>
      {%- if post.excerpt -%}
        <p class="post-excerpt">{{ post.excerpt }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <!--  RSS Feed -->
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

  {%- endif -%}
</div>
