---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
    {{ content }}
  {%- if site.posts.size > 0 -%}
    <!-- Removed page title
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
  <ul class="post-list">
    {%- for post in site.posts -%}
      <!-- Featured Image -->
    <li>
      {% if post.image %}
        <a href="{{ post.url | relative_url }}"><img src="{{- post.image | relative_url -}}" alt="" class="blog-roll-image"></a>
      {% else %}
      {% assign postImage = "/assets/images/default.jpg" %}
        <a href="{{ post.url | relative_url }}"><img src="{{- postImage | relative_url -}}" alt="" class="blog-roll-image"></a>
      {% endif %}
    </li>
      <!-- Post Title & Link -->
    <li>
      <h1>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h1>
    </li>
      <!-- Tag -->
    <li>
      {% if post.tags.size > 0 %}
        {% for tag in post.tags %}
          <a class="post-tag" href=""><code><nobr>{{ tag }}</nobr></code>&ensp;</a>
        {% endfor %}
      {% endif %}
    </li>
      <!-- Date -->
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <a class="post-meta" href="{{ post.url | relative_url }}">
        {{ post.date | date: date_format }}
      </a>
    </li>
      <!-- Post Excerpt -->
    <li>
      {%- if post.excerpt -%}
        <div class="post-excerpt">{{ post.excerpt }}</div>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <!--  RSS Feed -->
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

  {%- endif -%}
</div>
