---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header">
          <!-- Featured Image -->
          {%- if page.image -%}
            <img src="{{- page.image | relative_url -}}" alt="" class="post-featured-image">
          {% else %}
            {% assign postImage = "assets/images/default.jpg" %}
            <img src="{{- postImage | relative_url -}}" alt="" class="post-featured-image">
          {% endif %}
          <!-- Title -->
          <div class="post-title" itemprop="name headline">
            {{ page.title | escape }}
          </div>
          <!-- Metadata -->
          <div class="post-meta">
            <!-- Time -->
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ page.date | date: date_format }}
            </time>
            <!-- Author -->
            {%- if page.author -%}
              <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}
          </div>
        </header>

        <!-- Content -->
        <div class="post-content e-content" itemprop="articleBody">
          {{ content }}
        </div>

        <!-- Disqus -->
        {%- if site.disqus.shortname -%}
          {%- include disqus_comments.html -%}
        {%- endif -%}

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      </article>
    </div>
  </main>

</body>

{%- include footer-post.html -%}

</html>